@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "burtons";
  src: url("../public/burtons.otf");
}

/* Added this 4/23 for font family from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');



/* Added this 4/22 for nav, we can always change at any point this is just to recognize that this is where we will change the nav css*/
.nav {
  font-size: larger;
  background-color: white;
  color:black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  position:absolute;
  top: 0;
  width:95%;
}

.site-title {
  font-size: 2rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;

}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
}

.nav li.hover {
  background-color: #777;
}
/* End of nav css */


/* Portfolio.css */
h2 {
  font-size: 2em;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 30px;
}

/* p {
  font-size: 1.2em;
  margin-bottom: 40px;
  padding-left: 30px;

} */

.portfolio-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.portfolio-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.portfolio-description {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.2em;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.project:hover {
  transform: scale(1.05);
}

.project-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-description {
  margin-bottom: 20px;
}

.project a {
  display: inline-block;
  margin: 5px 0;
  text-decoration: none;
  color: #007bff;
}

.project a:hover {
  text-decoration: underline;
}
/* end of portfolio css */




:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: black;
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #759242; /* Adjusted link color */
  text-decoration: inherit;
}
a:hover {
  color: #374709; /* Adjusted link hover color */
}

body {
  background-color: white;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #212517; /* Adjusted button background color */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #759242; /* Adjusted button hover border color */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547; /* Adjusted light mode text color */
    background-color: #ffffff; /* Adjusted light mode background color */
  }
  a:hover {
    color: #759242; /* Adjusted light mode link hover color */
  }
  button {
    background-color: #f2f2ef; /* Adjusted light mode button background color */
  }
}

